
nav h3 {
    margin-bottom: 0px;
}
article {
    margin: 0px;
    height: 70vh;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;

}

.container {
    padding-top: 0px;
    padding-bottom: 20px;
}

article p {
    margin-bottom: 20px;
}
input {
    margin-bottom: 0px ;
    background-color:  var(--card-background-color);
    box-shadow:var(--card-box-shadow)
}
dialog article {
    overflow: visible;
    min-width: 400px;
    width: fit-content;
    height:fit-content;
}
dialog footer {
    margin-top: 10px;
}